@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Table
////////////////////////////////////////

//////////////////////////////////////// Block variables

// $table-row-highlight-name, $table-row-highlight-value
$table-row-highlights: ("pink-extra-light" $c-pink-extra-light, "red-extra-light" $c-red-extra-light, "orange-extra-light" $c-orange-extra-light, "yellow-extra-light" $c-yellow-extra-light, "green-extra-light" $c-green-extra-light, "turquoise-extra-light" $c-turquoise-extra-light, "blue-extra-light" $c-blue-extra-light, "purple-extra-light" $c-purple-extra-light, "gray-extra-light" $c-gray-extra-light)

// $table-cell-highlight-name, $table-cell-highlight-value
$table-cell-highlights: ("pink-light" $c-pink-light, "red-light" $c-red-light, "orange-light" $c-orange-light, "yellow-light" $c-yellow-light, "green-light" $c-green-light, "turquoise-light" $c-turquoise-light, "blue-light" $c-blue-light, "purple-light" $c-purple-light, "gray-light" $c-gray-light)

// $table-text-color-name, $table-text-color-value
$table-text-colors: ("pink-medium" $c-pink-medium, "red-medium" $c-red-medium, "orange-medium" $c-orange-medium, "yellow-medium" $c-yellow-medium, "green-medium" $c-green-medium, "turquoise-medium" $c-turquoise-medium, "blue-medium" $c-blue-medium, "purple-medium" $c-purple-medium, "gray-medium" $c-gray-medium)


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".cashup-table"

#{$block}
  position: relative
  display: block
  width: 100%

  // $Table MOD: role configuration
  &_role_configuration
    min-width: 1200px

  &_role_cash-report-comparison
    width: 28%
    margin-left: auto


  // $Table group
  &__group
    position: relative
    display: block
    width: 100%
    background-color: $c-white

    // $Table group MOD: role title
    &_role_title
      #{$block}_role_deposit-reports-all-sites-group &
        background-color: $c-blue-extra-light

    // $Table group MOD: role form
    &_role_form
      #{$block}_role_payouts-today &,
      #{$block}_role_payouts-regular &,
      #{$block}_role_extra-income-today &,
      #{$block}_role_extra-income-regular &,
      #{$block}_role_security-djs-pr &,
      #{$block}_role_security-list &,
      #{$block}_role_djs-list &,
      #{$block}_role_pr-list &,
      #{$block}_role_wages &
        position: sticky
        top: 0
        z-index: 60
        padding-bottom: 20px

      // Set default position in Edge
      @supports (-ms-ime-align: auto)
        #{$block}_role_payouts-today &,
        #{$block}_role_payouts-regular &,
        #{$block}_role_extra-income-today &,
        #{$block}_role_extra-income-regular &,
        #{$block}_role_security-djs-pr &,
        #{$block}_role_security-list &,
        #{$block}_role_djs-list &,
        #{$block}_role_pr-list &,
        #{$block}_role_wages &
          position: relative
          z-index: auto
          top: auto

      // Set default position in IE11
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        #{$block}_role_payouts-today &,
        #{$block}_role_payouts-regular &,
        #{$block}_role_extra-income-today &,
        #{$block}_role_extra-income-regular &,
        #{$block}_role_security-djs-pr &,
        #{$block}_role_security-list &,
        #{$block}_role_djs-list &,
        #{$block}_role_pr-list &,
        #{$block}_role_wages &
          position: relative
          z-index: auto
          top: auto

    // $Table group MOD: role header
    &_role_header
      #{$block}_role_payouts-today &,
      #{$block}_role_payouts-regular &,
      #{$block}_role_extra-income-today &,
      #{$block}_role_extra-income-regular &,
      #{$block}_role_security-djs-pr &,
      #{$block}_role_security-list &,
      #{$block}_role_djs-list &,
      #{$block}_role_pr-list &,
      #{$block}_role_wages &,
      #{$block}_role_wages-admin &,
      #{$block}_role_deposits &,
      #{$block}_role_deposit-reports-all-sites > &,
      #{$block}_role_deposit-reports-current-site > &
        position: sticky
        top: 80px
        z-index: 50
        box-shadow: 0 1px 0 0 $c-gray-light

      #{$block}_role_wages-admin &,
      #{$block}_role_deposits &,
      #{$block}_role_deposit-reports-all-sites > &,
      #{$block}_role_deposit-reports-current-site > &
        padding-top: 20px

      // Set default position in Edge
      @supports (-ms-ime-align: auto)
        #{$block}_role_payouts-today &,
        #{$block}_role_payouts-regular &,
        #{$block}_role_extra-income-today &,
        #{$block}_role_extra-income-regular &,
        #{$block}_role_security-djs-pr &,
        #{$block}_role_security-list &,
        #{$block}_role_djs-list &,
        #{$block}_role_pr-list &,
        #{$block}_role_wages &,
        #{$block}_role_wages-admin &,
        #{$block}_role_deposits &,
        #{$block}_role_deposit-reports-all-sites > &,
        #{$block}_role_deposit-reports-current-site > &
          position: relative
          z-index: auto
          top: auto
          box-shadow: none

      // Set default position in IE11
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        #{$block}_role_payouts-today &,
        #{$block}_role_payouts-regular &,
        #{$block}_role_extra-income-today &,
        #{$block}_role_extra-income-regular &,
        #{$block}_role_security-djs-pr &,
        #{$block}_role_security-list &,
        #{$block}_role_djs-list &,
        #{$block}_role_pr-list &,
        #{$block}_role_wages &,
        #{$block}_role_wages-admin &,
        #{$block}_role_deposits &,
        #{$block}_role_deposit-reports-all-sites > &,
        #{$block}_role_deposit-reports-current-site > &
          position: relative
          z-index: auto
          top: auto
          box-shadow: none

    // $Table group MOD: role footer
    &_role_footer
      #{$block}_role_payouts-today &,
      #{$block}_role_payouts-regular &,
      #{$block}_role_extra-income-today &,
      #{$block}_role_extra-income-regular &,
      #{$block}_role_security-djs-pr &,
      #{$block}_role_security-list &,
      #{$block}_role_djs-list &,
      #{$block}_role_pr-list &,
      #{$block}_role_wages &,
      #{$block}_role_wages-admin &,
      #{$block}_role_deposit-reports-all-sites > &,
      #{$block}_role_deposit-reports-current-site > &
        position: sticky
        bottom: 0
        z-index: 50
        box-shadow: 0 -2px 0 0 $c-gray-light

      // Set default position in Edge
      @supports (-ms-ime-align: auto)
        #{$block}_role_payouts-today &,
        #{$block}_role_payouts-regular &,
        #{$block}_role_extra-income-today &,
        #{$block}_role_extra-income-regular &,
        #{$block}_role_security-djs-pr &,
        #{$block}_role_security-list &,
        #{$block}_role_djs-list &,
        #{$block}_role_pr-list &,
        #{$block}_role_wages &,
        #{$block}_role_wages-admin &,
        #{$block}_role_deposit-reports-all-sites > &,
        #{$block}_role_deposit-reports-current-site > &
          position: relative
          z-index: auto
          top: auto
          box-shadow: none

      // Set default position in IE11
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        #{$block}_role_payouts-today &,
        #{$block}_role_payouts-regular &,
        #{$block}_role_extra-income-today &,
        #{$block}_role_extra-income-regular &,
        #{$block}_role_security-djs-pr &,
        #{$block}_role_security-list &,
        #{$block}_role_djs-list &,
        #{$block}_role_pr-list &,
        #{$block}_role_wages &,
        #{$block}_role_wages-admin &,
        #{$block}_role_deposit-reports-all-sites > &,
        #{$block}_role_deposit-reports-current-site > &
          position: relative
          z-index: auto
          top: auto
          box-shadow: none


  // $Table row
  &__row
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: stretch
    width: 100%
    background-color: $c-white

    &:not(:last-child)
      #{$block}_role_pdq-summary &
        margin-bottom: 20px

    // $Table row MOD: role header
    // $Table row MOD: role footer
    &_role_header,
    &_role_footer
      background-color: $c-gray-hyper-light

    // $Table row MOD: role form
    &_role_form
      box-shadow: 0 2px 8px -2px $c-shadow-primary

    @each $table-row-highlight-name, $table-row-highlight-value in $table-row-highlights
      &_highlight_#{$table-row-highlight-name}
        background-color: $table-row-highlight-value


  // $Table cell
  &__cell
    flex-grow: 1
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    min-height: 50px
    padding: 15px 10px
    border-right: 1px solid $c-gray-light
    border-bottom: 1px solid $c-gray-light

    #{$block}_role_card-till-comparison &
      align-items: flex-start
      min-height: 0
      padding: 10px 15px
      border-right: none
      border-bottom: none

    #{$block}_role_card-till-comparison #{$block}__row:first-child &
      padding-top: 15px

    #{$block}_role_pdq-summary &
      min-height: 0
      padding: 0
      border-right: none
      border-bottom: none

    #{$block}_role_cash-report-comparison &
      min-height: 0
      padding: 10px
      border-right: none
      border-bottom: none

    @media screen and (max-width: 1600px)
      #{$block}_role_security-djs-pr &,
      #{$block}_role_wages &
        padding-left: 5px
        padding-right: 5px

      #{$block}_role_wages-admin &
        padding-left: 3px
        padding-right: 3px

    &:first-child
      border-left: 1px solid $c-gray-light

      #{$block}_role_card-till-comparison &,
      #{$block}_role_pdq-summary &,
      #{$block}_role_cash-report-comparison &
        border-left: none

    &:last-child
      border-right: 1px solid $c-gray-light

      #{$block}_role_card-till-comparison &,
      #{$block}_role_pdq-summary &,
      #{$block}_role_cash-report-comparison &
        border-right: none

    // $Table cell first column
    &:nth-child(1)
      #{$block}_role_configuration &
        width: 10%
        min-width: 150px
        max-width: 300px

      #{$block}_role_card-till-comparison &
        width: calc(100% - 165px)
        padding-right: 5px

      #{$block}_role_payouts-today &,
      #{$block}_role_payouts-regular &,
      #{$block}_role_extra-income-today &,
      #{$block}_role_extra-income-regular &
        width: 40%

      #{$block}_role_security-djs-pr &
        width: 10%

      #{$block}_role_security-list &
        width: 40%

      #{$block}_role_djs-list &
        width: 30%

      #{$block}_role_pr-list &
        width: 30%

      #{$block}_role_wages &
        width: 16%

      #{$block}_role_wages-admin &
        width: 10%

      #{$block}_role_deposits &
        width: 15%

      #{$block}_role_pdq-summary &
        width: 15%

      #{$block}_role_cash-report &
        width: 16%

      #{$block}_role_cash-report-comparison &
        width: 14%

      #{$block}_role_deposit-reports-all-sites &
        width: 28%

      #{$block}_role_deposit-reports-all-sites-group &
        width: 28%

      #{$block}_role_deposit-reports-all-sites-group #{$block}__row:not(:last-child) &
        border-bottom: none

      #{$block}_role_deposit-reports-current-site &
        width: 26%

      #{$block}_role_deposit-reports-current-site #{$block}__row:not(:last-child) &
        border-bottom: none

      @media screen and (max-width: 1600px)
        #{$block}_role_pdq-summary &
          width: 20%

    // $Table cell second column
    &:nth-child(2)
      #{$block}_role_configuration &
        width: 38%
        padding-bottom: 5px

      #{$block}_role_card-till-comparison &
        flex-grow: 0
        flex-shrink: 0
        width: 165px
        padding-left: 5px

      #{$block}_role_payouts-today &,
      #{$block}_role_payouts-regular &,
      #{$block}_role_extra-income-today &,
      #{$block}_role_extra-income-regular &
        width: 40%

      #{$block}_role_security-djs-pr &
        width: 10%

      #{$block}_role_security-list &
        width: 40%

      #{$block}_role_djs-list &
        width: 15%

      #{$block}_role_pr-list &
        width: 25%

      #{$block}_role_wages &
        width: 12%

      #{$block}_role_wages-admin &
        width: 7%

      #{$block}_role_deposits &
        width: 20%

      #{$block}_role_pdq-summary &
        width: 15%

      #{$block}_role_cash-report &
        width: 14%

      #{$block}_role_cash-report-comparison &
        width: 14%

      #{$block}_role_deposit-reports-all-sites &
        width: 18%

      #{$block}_role_deposit-reports-all-sites-group &
        width: 18%

      #{$block}_role_deposit-reports-current-site &
        width: 18%

      @media screen and (max-width: 1600px)
        #{$block}_role_pdq-summary &
          width: 20%

        #{$block}_role_wages-admin &
          width: 9%

    // $Table cell third column
    &:nth-child(3)
      #{$block}_role_configuration &
        width: 40%
        padding-bottom: 5px

      #{$block}_role_payouts-today &,
      #{$block}_role_payouts-regular &,
      #{$block}_role_extra-income-today &,
      #{$block}_role_extra-income-regular &,
      #{$block}_role_security-list &
        flex-grow: 0
        flex-shrink: 0
        width: 235px

      #{$block}_role_security-djs-pr &
        width: 10%

      #{$block}_role_djs-list &
        width: 15%

      #{$block}_role_pr-list &
        width: 25%

      #{$block}_role_wages &
        width: 16%

      #{$block}_role_wages-admin &
        width: 9%

      #{$block}_role_deposits &
        width: 20%

      #{$block}_role_pdq-summary &
        width: 15%

      #{$block}_role_cash-report &
        width: 14%

      #{$block}_role_deposit-reports-all-sites &
        width: 18%

      #{$block}_role_deposit-reports-all-sites-group &
        width: 18%

      #{$block}_role_deposit-reports-current-site &
        width: 14%

      @media screen and (max-width: 1600px)
        #{$block}_role_pdq-summary &
          width: 20%

    // $Table cell fourth column
    &:nth-child(4)
      #{$block}_role_configuration &
        flex-grow: 0
        flex-shrink: 0
        width: 205px

      #{$block}_role_security-djs-pr &
        width: 10%

      #{$block}_role_djs-list &
        width: 20%

      #{$block}_role_pr-list &
        flex-grow: 0
        flex-shrink: 0
        width: 235px

      #{$block}_role_wages &
        width: 16%

      #{$block}_role_wages-admin &
        width: 9%

      #{$block}_role_deposits &
        width: 25%

      #{$block}_role_pdq-summary &
        width: 55%

      #{$block}_role_cash-report &
        width: 14%

      #{$block}_role_deposit-reports-all-sites &
        width: 18%

      #{$block}_role_deposit-reports-all-sites-group &
        width: 18%

      #{$block}_role_deposit-reports-current-site &
        width: 14%

      @media screen and (max-width: 1600px)
        #{$block}_role_pdq-summary &
          width: 40%

        #{$block}_role_wages-admin &
          width: 10%

    // $Table cell fifth column
    &:nth-child(5)
      #{$block}_role_security-djs-pr &
        width: 10%

      #{$block}_role_djs-list &
        flex-grow: 0
        flex-shrink: 0
        width: 235px

      #{$block}_role_wages &
        width: 10%
        justify-content: center

      #{$block}_role_wages-admin &
        width: 7%
        min-width: 75px
        justify-content: center

      #{$block}_role_deposits &
        width: 20%

      #{$block}_role_cash-report &
        width: 14%

      #{$block}_role_deposit-reports-all-sites &
        width: 18%

      #{$block}_role_deposit-reports-all-sites-group &
        width: 18%

      #{$block}_role_deposit-reports-current-site &
        width: 14%

      @media screen and (max-width: 1600px)
        #{$block}_role_wages-admin &
          width: 8%

    // $Table cell sixth column
    &:nth-child(6)
      #{$block}_role_security-djs-pr &
        width: 10%

      #{$block}_role_wages &
        width: 11%
        justify-content: center

      #{$block}_role_wages-admin &
        width: 11%
        min-width: 75px
        justify-content: center

      #{$block}_role_cash-report &
        width: 14%

      #{$block}_role_deposit-reports-current-site &
        width: 14%

      @media screen and (max-width: 1600px)
        #{$block}_role_wages &
          width: 10%

        #{$block}_role_wages-admin &
          width: 8%

    // $Table cell seventh column
    &:nth-child(7)
      #{$block}_role_security-djs-pr &
        width: 10%

      #{$block}_role_wages &
        flex-grow: 0
        flex-shrink: 0
        width: 235px

      #{$block}_role_wages-admin &
        width: 10%

      #{$block}_role_cash-report &
        width: 14%

      @media screen and (max-width: 1600px)
        #{$block}_role_wages &
          width: 225px

        #{$block}_role_wages-admin &
          width: 9%

    // $Table cell eighth column
    &:nth-child(8)
      #{$block}_role_security-djs-pr &
        width: 10%

      #{$block}_role_wages-admin &
        width: 7%
        min-width: 70px
        justify-content: center

      @media screen and (max-width: 1600px)
        #{$block}_role_wages-admin &
          width: 8%

    // $Table cell ninth column
    &:nth-child(9)
      #{$block}_role_security-djs-pr &
        flex-grow: 0
        flex-shrink: 0
        width: 235px

      #{$block}_role_wages-admin &
        width: 10%

      @media screen and (max-width: 1600px)
        #{$block}_role_security-djs-pr &
          width: 225px

    // $Table cell tenth column
    &:nth-child(10)
      #{$block}_role_wages-admin &
        width: 10%

      @media screen and (max-width: 1600px)
        #{$block}_role_wages-admin &
          width: 9%

    // $Table cell eleventh column
    &:nth-child(11)
      #{$block}_role_wages-admin &
        flex-grow: 0
        flex-shrink: 0
        width: 125px

      @media screen and (max-width: 1600px)
        #{$block}_role_wages-admin &
          width: 120px

    // $Table cell MOD: role title
    // $Table cell MOD: role header
    // $Table cell MOD: role footer
    &_role_title,
    &_role_header,
    &_role_footer
      font-size: 14px
      font-family: $f-sans
      font-weight: 600
      color: $c-gray-ultra-dark

      @media screen and (max-width: 1280px)
        #{$block}_role_wages-admin &
          font-size: 12px

    &_role_title
      &:nth-child(1)
        #{$block}_role_deposit-reports-all-sites-group &
          width: 100%
          font-size: 16px

    &_role_header
      border-top: 1px solid $c-gray-light

      #{$block}_role_configuration &
        justify-content: center
        text-align: center

      &:nth-child(2),
      &:nth-child(3)
        #{$block}_role_configuration &
          padding-top: 15px
          padding-bottom: 15px

      &:nth-child(5),
      &:nth-child(6)
        #{$block}_role_wages &,
        #{$block}_role_wages-admin &
          text-align: center

      &:nth-child(8)
        #{$block}_role_wages-admin &
          text-align: center

    &_role_footer
      &:nth-child(1)
        #{$block}_role_deposit-reports-current-site &
          border-right: none

    &_role_form
      border-right: none
      border-bottom: none

      &:first-child
        border-left: none

      &:last-child
        border-right: none

    @each $table-cell-highlight-name, $table-cell-highlight-value in $table-cell-highlights
      &_highlight_#{$table-cell-highlight-name}
        background-color: $table-cell-highlight-value !important


  // $Table info
  &__info
    flex-grow: 1
    flex-shrink: 1
    width: 100%

    #{$block}_role_configuration #{$block}__cell:nth-child(2) &,
    #{$block}_role_configuration #{$block}__cell:nth-child(3) &
      padding-right: 10px

    #{$block}_role_wages #{$block}__cell:nth-child(5) &,
    #{$block}_role_wages #{$block}__cell:nth-child(6) &,
    #{$block}_role_wages-admin #{$block}__cell:nth-child(5) &,
    #{$block}_role_wages-admin #{$block}__cell:nth-child(6) &,
    #{$block}_role_wages-admin #{$block}__cell:nth-child(8) &
      text-align: center


  // $Table service
  &__service
    flex-grow: 0
    flex-shrink: 0


  // $Table field
  &__field
    display: block
    width: 100%

    &:not(:last-child)
      margin-bottom: 5px


  // $Table text
  &__text
    font-family: $f-sans
    font-size: 14px
    font-weight: 400
    color: $c-gray-ultra-dark

    #{$block}__cell_role_header &,
    #{$block}__cell_role_footer &,
    #{$block}_role_card-till-comparison #{$block}__cell:nth-child(2) &,
    #{$block}_role_pdq-summary #{$block}__cell:nth-child(4) &,
    #{$block}_role_cash-report-comparison &
      font-weight: 600

    #{$block}_role_card-till-comparison #{$block}__cell:nth-child(2) &,
    #{$block}_role_pdq-summary #{$block}__cell:nth-child(4) &
      text-align: right

    #{$block}_role_payouts-today > &:last-child,
    #{$block}_role_payouts-regular > &:last-child,
    #{$block}_role_extra-income-today > &:last-child,
    #{$block}_role_extra-income-regular > &:last-child,
    #{$block}_role_security-djs-pr > &:last-child,
    #{$block}_role_security-list > &:last-child,
    #{$block}_role_djs-list > &:last-child,
    #{$block}_role_pr-list > &:last-child,
    #{$block}_role_wages > &:last-child,
    #{$block}_role_wages-admin > &:last-child,
    #{$block}_role_deposits > &:last-child,
    #{$block}_role_deposit-reports-all-sites > &:last-child,
    #{$block}_role_deposit-reports-current-site > &:last-child
      font-size: 16px
      color: $c-gray-dark

    #{$block}_role_wages-admin > &:only-child,
    #{$block}_role_deposits > &:only-child,
    #{$block}_role_deposit-reports-all-sites > &:only-child,
    #{$block}_role_deposit-reports-current-site > &:only-child
      margin-top: 20px

    @media screen and (max-width: 1280px)
      #{$block}_role_wages-admin &
        font-size: 12px

    &:not(:last-child)
      margin-bottom: 5px

    &_adjust_wrap
      word-wrap: break-word
      hyphens: auto

    @each $table-text-color-name, $table-text-color-value in $table-text-colors
      &_color_#{$table-text-color-name}
        color: $table-text-color-value


  // $Table actions
  &__actions
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center

    #{$block}_role_wages-admin &
      flex-direction: column
      align-items: stretch

  // $Table action
  &__action

    #{$block}_role_configuration #{$block}__cell:nth-child(2) &,
    #{$block}_role_configuration #{$block}__cell:nth-child(3) &
      margin-bottom: 10px

    #{$block}_role_payouts-today #{$block}__cell:nth-child(3) &,
    #{$block}_role_payouts-regular #{$block}__cell:nth-child(3) &,
    #{$block}_role_extra-income-today #{$block}__cell:nth-child(3) &,
    #{$block}_role_extra-income-regular #{$block}__cell:nth-child(3) &,
    #{$block}_role_security-djs-pr #{$block}__cell:nth-child(9) &,
    #{$block}_role_security-list #{$block}__cell:nth-child(3) &,
    #{$block}_role_djs-list #{$block}__cell:nth-child(5) &,
    #{$block}_role_pr-list #{$block}__cell:nth-child(4) &,
    #{$block}_role_wages #{$block}__cell:nth-child(7) &,
    #{$block}_role_wages-admin #{$block}__cell:nth-child(11) &
      flex-grow: 1

    &:not(:last-child)
      margin-right: 15px

      #{$block}_role_wages-admin &
        margin-right: 0
        margin-bottom: 10px

    &:only-child
      #{$block}_role_payouts-today #{$block}__cell:nth-child(3) &,
      #{$block}_role_payouts-regular #{$block}__cell:nth-child(3) &,
      #{$block}_role_extra-income-today #{$block}__cell:nth-child(3) &,
      #{$block}_role_extra-income-regular #{$block}__cell:nth-child(3) &,
      #{$block}_role_security-djs-pr #{$block}__cell:nth-child(9) &,
      #{$block}_role_security-list #{$block}__cell:nth-child(3) &,
      #{$block}_role_djs-list #{$block}__cell:nth-child(5) &,
      #{$block}_role_pr-list #{$block}__cell:nth-child(4) &,
      #{$block}_role_wages #{$block}__cell:nth-child(7) &
        width: 100%


  // $Table labels
  &__labels


  // $Table label
  &__label
    #{$block}_role_configuration #{$block}__cell:nth-child(2) &,
    #{$block}_role_configuration #{$block}__cell:nth-child(3) &
      margin-bottom: 10px
