@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Panel
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".cashup-panel"

#{$block}
  position: relative
  display: block
  width: 100%
  overflow: hidden
  background-color: $c-white
  border-radius: 8px

  &:not(:last-child)
    margin-bottom: 30px

  // $Panel MOD: role till
  // $Panel MOD: role pdq
  &_role_tills,
  &_role_till,
  &_role_pdq
    flex-grow: 0
    flex-shrink: 0
    width: 300px
    box-shadow: inset 0 0 0 1px $c-gray-light, 0 2px 8px -2px $c-shadow-primary

    &:not(:last-child)
      margin-bottom: 0
      margin-right: 20px

  // $Panel MOD: role card till comparison
  &_role_card-till-comparison
    width: 300px
    border-radius: 0

  // $Panel MOD: role summary till categories
  // $Panel MOD: role summary till category
  // $Panel MOD: role summary extra income
  // $Panel MOD: role summary group totals
  &_role_summary-till-categories,
  &_role_summary-till-category,
  &_role_summary-extra-income,
  &_role_summary-group-totals
    border-radius: 0
    background-color: transparent

    &:not(:last-child)
      margin-bottom: 20px

  &_role_summary-till-categories,
  &_role_summary-extra-income,
  &_role_summary-group-totals
    flex-grow: 1
    flex-shrink: 1
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start


  // $Panel header
  &__header
    position: relative
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    width: 100%
    padding: 15px 20px
    border-bottom: 1px solid $c-gray-extra-light

    // $Panel header CONTEXT: $Panel MOD: role till
    // $Panel header CONTEXT: $Panel MOD: role pdq
    #{$block}_role_tills &,
    #{$block}_role_till &,
    #{$block}_role_pdq &
      justify-content: center
      padding: 15px

    // $Panel header CONTEXT: $Panel MOD: role card till comparison
    #{$block}_role_card-till-comparison &
      justify-content: center
      padding: 10px 15px 15px

    #{$block}_role_summary-till-categories &,
    #{$block}_role_summary-till-category &,
    #{$block}_role_summary-extra-income &,
    #{$block}_role_summary-group-totals &
      padding: 0
      border-bottom: none

    #{$block}_role_summary-till-categories &
      justify-content: space-between

    #{$block}_role_summary-till-category &,
    #{$block}_role_summary-extra-income &,
    #{$block}_role_summary-group-totals &
      flex-direction: column
      justify-content: center
      text-align: center


  // $Panel header actions
  &__header-actions
    flex-grow: 0
    flex-shrink: 0
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center


  // $Panel header action
  &__header-action
    flex-grow: 0
    flex-shrink: 0

    &:not(:last-child)
      margin-right: 20px


  // $Panel header group
  &__header-group
    display: block
    width: 100%

    &:not(:last-child)
      #{$block}_role_summary-till-category &
        margin-bottom: 10px


  // $Panel content
  &__content
    display: block
    width: 100%

    // $Panel content CONTEXT: $Panel MOD: role till
    #{$block}_role_tills &,
    #{$block}_role_till &
      height: 100%
      padding: 0 15px

    // $Panel content CONTEXT: $Panel MOD: role pdq
    #{$block}_role_pdq &
      padding: 15px

    #{$block}_role_summary-till-categories &
      padding-top: 25px

    #{$block}_role_summary-till-category &
      padding-top: 10px

    #{$block}_role_summary-extra-income &,
    #{$block}_role_summary-group-totals &
      padding-top: 10px
      padding-bottom: 15px

    #{$block}_role_summary-till-categories &,
    #{$block}_role_summary-extra-income &,
    #{$block}_role_summary-group-totals &
      flex-grow: 1
      flex-shrink: 1


  // $Panel content inner
  &__content-inner
    display: block
    width: 100%

    // $Panel content inner CONTEXT: $Panel MOD: role till
    #{$block}_role_tills &,
    #{$block}_role_till &
      height: 100%
      overflow: hidden


  // $Panel footer
  &__footer
    position: relative
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    width: 100%
    padding: 15px 20px
    border-top: 1px solid $c-gray-extra-light

    #{$block}_role_summary-till-categories &,
    #{$block}_role_summary-extra-income &,
    #{$block}_role_summary-group-totals &
      justify-content: center
      padding: 10px
      border-top: none
      text-align: center
      background-color: $c-green-light


  // $Panel group
  &__group
    display: block
    width: 100%

    &:not(:last-child)
      border-bottom: 1px solid $c-gray-extra-light

    // $Panel group STATE: hidden
    &.is-hidden
      display: none


  // $Panel group inner
  &__group-inner
    display: block
    width: 100%
    padding: 15px 20px

    // $Panel group inner CONTEXT: $Panel MOD: role till
    #{$block}_role_tills &,
    #{$block}_role_till &
      padding: 15px 0


  // $Panel list
  &__list
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap
    width: 100%

  // $Panel list item
  &__list-item
    flex-grow: 0
    flex-shrink: 0
    padding-right: 10px
    padding-bottom: 20px

    #{$block}_role_summary-till-categories &
      width: 210px


  // $Panel actions
  &__actions
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    width: 100%

    // $Panel actions MOD: justify start
    &_justify_start
      justify-content: flex-start

    // $Panel actions MOD: justify end
    &_justify_end
      justify-content: flex-end


  // $Panel action
  &__action
    flex-grow: 0
    flex-shrink: 1

    &:not(:last-child)
      margin-right: 20px


  // $Panel title
  &__title
    font-family: $f-sans
    font-size: 18px
    line-height: 1
    font-weight: 600
    color: $c-gray-ultra-dark

    #{$block}_role_tills &,
    #{$block}_role_till &,
    #{$block}_role_pdq &
      width: 100%
      max-width: 100%
      text-align: center
      font-size: 14px

    #{$block}_role_card-till-comparison &
      font-size: 16px

    #{$block}_role_summary-till-category &,
    #{$block}_role_summary-extra-income &,
    #{$block}_role_summary-group-totals &
      font-size: 16px


  // $Panel text
  &__text
    display: block
    font-family: $f-sans
    font-size: 14px
    font-weight: 400
    color: $c-gray-ultra-dark

    // $Panel text MOD: size small
    &_size_s
      font-size: 12px

    // $Panel text MOD: size large
    &_size_l
      font-size: 16px


  // $Panel text light
  &__text-light
    font-weight: 300


  // $Panel text bold
  &__text-bold
    font-weight: 600
