@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Table
////////////////////////////////////////

//////////////////////////////////////// Block variables

// $table-row-highlight-name, $table-row-highlight-value
$table-row-highlights: ("pink-extra-light" $c-pink-extra-light, "red-extra-light" $c-red-extra-light, "orange-extra-light" $c-orange-extra-light, "yellow-extra-light" $c-yellow-extra-light, "green-extra-light" $c-green-extra-light, "turquoise-extra-light" $c-turquoise-extra-light, "blue-extra-light" $c-blue-extra-light, "purple-extra-light" $c-purple-extra-light, "gray-extra-light" $c-gray-extra-light)

// $table-cell-highlight-name, $table-cell-highlight-value
$table-cell-highlights: ("pink-light" $c-pink-light, "red-light" $c-red-light, "orange-light" $c-orange-light, "yellow-light" $c-yellow-light, "green-light" $c-green-light, "turquoise-light" $c-turquoise-light, "blue-light" $c-blue-light, "purple-light" $c-purple-light, "gray-light" $c-gray-light)

// $table-text-color-name, $table-text-color-value
$table-text-colors: ("pink-medium" $c-pink-medium, "red-medium" $c-red-medium, "orange-medium" $c-orange-medium, "yellow-medium" $c-yellow-medium, "green-medium" $c-green-medium, "turquoise-medium" $c-turquoise-medium, "blue-medium" $c-blue-medium, "purple-medium" $c-purple-medium, "gray-medium" $c-gray-medium, "gray-dark" $c-gray-dark, "gray-extra-dark" $c-gray-extra-dark)


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".cashup-table"

#{$block}
  position: relative
  display: block
  width: 100%

  // $Table MOD: role configuration
  &_role_configuration
    min-width: 1200px

  &_role_cash-report-comparison
    width: 28%
    margin-left: auto


  // $Table group
  &__group
    position: relative
    display: block
    width: 100%
    background-color: $c-white

    #{$block}_role_summary-cards &,
    #{$block}_role_summary-redeemed-deposits &
      background-color: transparent

    &:not(:last-child)
      #{$block}_role_summary-cards &,
      #{$block}_role_summary-redeemed-deposits &
        border-bottom: 1px solid $c-gray-light

    // $Table group MOD: role title
    &_role_title
      #{$block}_role_deposit-reports-all-sites-group &
        background-color: $c-blue-extra-light

    // $Table group MOD: role form
    &_role_form
      #{$block}_role_payouts-today &,
      #{$block}_role_payouts-regular &,
      #{$block}_role_extra-income-today &,
      #{$block}_role_extra-income-regular &,
      #{$block}_role_security-djs-pr &,
      #{$block}_role_security-list &,
      #{$block}_role_djs-list &,
      #{$block}_role_pr-list &,
      #{$block}_role_wages &
        position: sticky
        top: 0
        z-index: 60
        padding-bottom: 20px

      // Set default position in Edge
      @supports (-ms-ime-align: auto)
        #{$block}_role_payouts-today &,
        #{$block}_role_payouts-regular &,
        #{$block}_role_extra-income-today &,
        #{$block}_role_extra-income-regular &,
        #{$block}_role_security-djs-pr &,
        #{$block}_role_security-list &,
        #{$block}_role_djs-list &,
        #{$block}_role_pr-list &,
        #{$block}_role_wages &
          position: relative
          z-index: auto
          top: auto

      // Set default position in IE11
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        #{$block}_role_payouts-today &,
        #{$block}_role_payouts-regular &,
        #{$block}_role_extra-income-today &,
        #{$block}_role_extra-income-regular &,
        #{$block}_role_security-djs-pr &,
        #{$block}_role_security-list &,
        #{$block}_role_djs-list &,
        #{$block}_role_pr-list &,
        #{$block}_role_wages &
          position: relative
          z-index: auto
          top: auto

    // $Table group MOD: role header
    &_role_header
      #{$block}_role_payouts-today &,
      #{$block}_role_payouts-regular &,
      #{$block}_role_extra-income-today &,
      #{$block}_role_extra-income-regular &,
      #{$block}_role_security-djs-pr &,
      #{$block}_role_security-list &,
      #{$block}_role_djs-list &,
      #{$block}_role_pr-list &,
      #{$block}_role_wages &,
      #{$block}_role_wages-admin &,
      #{$block}_role_deposits &,
      #{$block}_role_deposit-reports-all-sites > &,
      #{$block}_role_deposit-reports-current-site > &,
      #{$block}_role_tills-report &
        position: sticky
        top: 80px
        z-index: 50
        box-shadow: 0 1px 0 0 $c-gray-light

      #{$block}_role_wages-admin &,
      #{$block}_role_deposits &,
      #{$block}_role_deposit-reports-all-sites > &,
      #{$block}_role_deposit-reports-current-site > &,
      #{$block}_role_tills-report &
        padding-top: 20px

      // Set default position in Edge
      @supports (-ms-ime-align: auto)
        #{$block}_role_payouts-today &,
        #{$block}_role_payouts-regular &,
        #{$block}_role_extra-income-today &,
        #{$block}_role_extra-income-regular &,
        #{$block}_role_security-djs-pr &,
        #{$block}_role_security-list &,
        #{$block}_role_djs-list &,
        #{$block}_role_pr-list &,
        #{$block}_role_wages &,
        #{$block}_role_wages-admin &,
        #{$block}_role_deposits &,
        #{$block}_role_deposit-reports-all-sites > &,
        #{$block}_role_deposit-reports-current-site > &,
        #{$block}_role_tills-report &
          position: relative
          z-index: auto
          top: auto
          box-shadow: none

      // Set default position in IE11
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        #{$block}_role_payouts-today &,
        #{$block}_role_payouts-regular &,
        #{$block}_role_extra-income-today &,
        #{$block}_role_extra-income-regular &,
        #{$block}_role_security-djs-pr &,
        #{$block}_role_security-list &,
        #{$block}_role_djs-list &,
        #{$block}_role_pr-list &,
        #{$block}_role_wages &,
        #{$block}_role_wages-admin &,
        #{$block}_role_deposits &,
        #{$block}_role_deposit-reports-all-sites > &,
        #{$block}_role_deposit-reports-current-site > &,
        #{$block}_role_tills-report &
          position: relative
          z-index: auto
          top: auto
          box-shadow: none

    // $Table group MOD: role footer
    &_role_footer
      #{$block}_role_payouts-today &,
      #{$block}_role_payouts-regular &,
      #{$block}_role_extra-income-today &,
      #{$block}_role_extra-income-regular &,
      #{$block}_role_security-djs-pr &,
      #{$block}_role_security-list &,
      #{$block}_role_djs-list &,
      #{$block}_role_pr-list &,
      #{$block}_role_wages &,
      #{$block}_role_wages-admin &,
      #{$block}_role_deposit-reports-all-sites > &,
      #{$block}_role_deposit-reports-current-site > &,
      #{$block}_role_tills-report &
        position: sticky
        bottom: 0
        z-index: 50
        box-shadow: 0 -2px 0 0 $c-gray-light

      // Set default position in Edge
      @supports (-ms-ime-align: auto)
        #{$block}_role_payouts-today &,
        #{$block}_role_payouts-regular &,
        #{$block}_role_extra-income-today &,
        #{$block}_role_extra-income-regular &,
        #{$block}_role_security-djs-pr &,
        #{$block}_role_security-list &,
        #{$block}_role_djs-list &,
        #{$block}_role_pr-list &,
        #{$block}_role_wages &,
        #{$block}_role_wages-admin &,
        #{$block}_role_deposit-reports-all-sites > &,
        #{$block}_role_deposit-reports-current-site > &,
        #{$block}_role_tills-report &
          position: relative
          z-index: auto
          top: auto
          box-shadow: none

      // Set default position in IE11
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        #{$block}_role_payouts-today &,
        #{$block}_role_payouts-regular &,
        #{$block}_role_extra-income-today &,
        #{$block}_role_extra-income-regular &,
        #{$block}_role_security-djs-pr &,
        #{$block}_role_security-list &,
        #{$block}_role_djs-list &,
        #{$block}_role_pr-list &,
        #{$block}_role_wages &,
        #{$block}_role_wages-admin &,
        #{$block}_role_deposit-reports-all-sites > &,
        #{$block}_role_deposit-reports-current-site > &,
        #{$block}_role_tills-report &
          position: relative
          z-index: auto
          top: auto
          box-shadow: none

    // $Table group MOD: role main
    &_role_main


  // $Table row
  &__row
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: stretch
    width: 100%
    background-color: $c-white

    #{$block}_role_tills-report &
      position: relative
      overflow-x: auto

    #{$block}_role_tills-report #{$block}__group_role_header &,
    #{$block}_role_tills-report #{$block}__group_role_main &
      -ms-overflow-style: none
      scrollbar-width: none

    #{$block}_role_tills-report #{$block}__group_role_header &::-webkit-scrollbar,
    #{$block}_role_tills-report #{$block}__group_role_main &::-webkit-scrollbar
      display: none

    #{$block}_role_summary-till-category &,
    #{$block}_role_summary-extra-income &,
    #{$block}_role_summary-group-totals &,
    #{$block}_role_summary-cards &,
    #{$block}_role_summary-security-djs-pr &,
    #{$block}_role_summary-redeemed-deposits &,
    #{$block}_role_summary-payouts &,
    #{$block}_role_summary-totals &,
    #{$block}_role_summary-daily-report &,
    #{$block}_role_summary-week-report &,
    #{$block}_role_summary-take &,
    #{$block}_role_summary-returned-wages &,
    #{$block}_role_summary-cool-it &
      background-color: transparent

    &:after
      #{$block}_role_tills-report &
        content: ''
        flex-grow: 0
        flex-shrink: 0
        display: block
        width: 1px

    &:not(:last-child)
      #{$block}_role_pdq-summary &
        margin-bottom: 20px

    // $Table row MOD: role header
    // $Table row MOD: role footer
    &_role_header,
    &_role_footer
      background-color: $c-gray-hyper-light

    &_role_header
      &:not(:last-child)
        #{$block}_role_summary-till-category &,
        #{$block}_role_summary-extra-income &,
        #{$block}_role_summary-group-totals &,
        #{$block}_role_summary-cards &,
        #{$block}_role_summary-security-djs-pr &,
        #{$block}_role_summary-redeemed-deposits &,
        #{$block}_role_summary-payouts &,
        #{$block}_role_summary-totals &,
        #{$block}_role_summary-daily-report &,
        #{$block}_role_summary-week-report &,
        #{$block}_role_summary-take &,
        #{$block}_role_summary-returned-wages &,
        #{$block}_role_summary-cool-it &
          margin-bottom: 5px

    &_role_footer

    // $Table row MOD: role form
    &_role_form
      box-shadow: 0 2px 8px -2px $c-shadow-primary

    @each $table-row-highlight-name, $table-row-highlight-value in $table-row-highlights
      &_highlight_#{$table-row-highlight-name}
        background-color: $table-row-highlight-value


    // $Table column
  &__column
    flex-grow: 1
    flex-shrink: 1
    display: block
    width: 100%

    #{$block}_role_tills-report &
      width: calc((100% - 200px) / 15)
      min-width: 90px
      border-right: 1px solid $c-gray-light

    #{$block}_role_tills-report #{$block}__group_role_header &
      border-top: 1px solid $c-gray-light

    #{$block}_role_tills-report #{$block}__group_role_footer &
      border-bottom: 1px solid $c-gray-light

    &:first-child,
    &:last-child
      #{$block}_role_tills-report &
        position: sticky
        z-index: 40
        flex-grow: 0
        flex-shrink: 0
        width: 100px
        min-width: 0

      // Set default position in Edge
      @supports (-ms-ime-align: auto)
        #{$block}_role_tills-report &
          position: relative
          z-index: auto
          top: auto
          box-shadow: none

      // Set default position in IE11
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        #{$block}_role_tills-report &
          position: relative
          z-index: auto
          top: auto
          box-shadow: none

    &:first-child
      #{$block}_role_tills-report &
        left: 0
        border-left: 1px solid $c-gray-light
        box-shadow: 1px 0 0 0 $c-gray-light

    &:last-child
      #{$block}_role_tills-report &
        right: 0
        border-right: 1px solid $c-gray-light
        box-shadow: -2px 0 0 0 $c-gray-light


  // $Table cell
  &__cell
    position: relative
    flex-grow: 1
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    min-height: 50px
    padding: 15px 10px
    border-right: 1px solid $c-gray-light
    border-bottom: 1px solid $c-gray-light

    #{$block}_role_card-till-comparison &
      align-items: flex-start
      min-height: 0
      padding: 10px 15px
      border-right: none
      border-bottom: none

    #{$block}_role_card-till-comparison #{$block}__row:first-child &
      padding-top: 15px

    #{$block}_role_pdq-summary &
      min-height: 0
      padding: 0
      border-right: none
      border-bottom: none

    #{$block}_role_cash-report-comparison &
      min-height: 0
      padding: 10px
      border-right: none
      border-bottom: none

    #{$block}_role_tills-report &
      min-height: 60px
      padding: 10px 5px
      border-right: none

    #{$block}_role_summary-till-category &,
    #{$block}_role_summary-extra-income &,
    #{$block}_role_summary-group-totals &,
    #{$block}_role_summary-cards &,
    #{$block}_role_summary-security-djs-pr &,
    #{$block}_role_summary-redeemed-deposits &,
    #{$block}_role_summary-payouts &,
    #{$block}_role_summary-totals &,
    #{$block}_role_summary-daily-report &,
    #{$block}_role_summary-week-report &,
    #{$block}_role_summary-take &,
    #{$block}_role_summary-returned-wages &,
    #{$block}_role_summary-cool-it &
      min-height: 0
      padding: 5px 0
      border-right: none
      border-bottom: none

    #{$block}_role_tills-report #{$block}__group_role_footer &
      border-bottom: none

    #{$block}_role_tills-report #{$block}__group_role_header &,
    #{$block}_role_tills-report #{$block}__group_role_footer &,
    #{$block}_role_tills-report #{$block}__column:first-child &,
    #{$block}_role_tills-report #{$block}__column:last-child &
      background-color: $c-gray-hyper-light

    @media screen and (max-width: 1600px)
      #{$block}_role_security-djs-pr &,
      #{$block}_role_wages &
        padding-left: 5px
        padding-right: 5px

      #{$block}_role_wages-admin &
        padding-left: 3px
        padding-right: 3px

    &:first-child
      border-left: 1px solid $c-gray-light

      #{$block}_role_card-till-comparison &,
      #{$block}_role_pdq-summary &,
      #{$block}_role_cash-report-comparison &,
      #{$block}_role_tills-report &,
      #{$block}_role_summary-till-category &,
      #{$block}_role_summary-extra-income &,
      #{$block}_role_summary-group-totals &,
      #{$block}_role_summary-cards &,
      #{$block}_role_summary-security-djs-pr &,
      #{$block}_role_summary-redeemed-deposits &,
      #{$block}_role_summary-payouts &,
      #{$block}_role_summary-totals &,
      #{$block}_role_summary-daily-report &,
      #{$block}_role_summary-week-report &,
      #{$block}_role_summary-take &,
      #{$block}_role_summary-returned-wages &,
      #{$block}_role_summary-cool-it &
        border-left: none

    &:last-child
      border-right: 1px solid $c-gray-light

      #{$block}_role_card-till-comparison &,
      #{$block}_role_pdq-summary &,
      #{$block}_role_cash-report-comparison &,
      #{$block}_role_tills-report &,
      #{$block}_role_summary-till-category &,
      #{$block}_role_summary-extra-income &,
      #{$block}_role_summary-group-totals &,
      #{$block}_role_summary-cards &,
      #{$block}_role_summary-security-djs-pr &,
      #{$block}_role_summary-redeemed-deposits &,
      #{$block}_role_summary-payouts &,
      #{$block}_role_summary-totals &,
      #{$block}_role_summary-daily-report &,
      #{$block}_role_summary-week-report &,
      #{$block}_role_summary-take &,
      #{$block}_role_summary-returned-wages &,
      #{$block}_role_summary-cool-it &
        border-right: none

    // $Table cell first column
    &:nth-child(1)
      #{$block}_role_configuration &
        width: 10%
        min-width: 150px
        max-width: 300px

      #{$block}_role_card-till-comparison &
        width: calc(100% - 165px)
        padding-right: 5px

      #{$block}_role_payouts-today &,
      #{$block}_role_payouts-regular &,
      #{$block}_role_extra-income-today &,
      #{$block}_role_extra-income-regular &
        width: 40%

      #{$block}_role_security-djs-pr &
        width: 10%

      #{$block}_role_security-list &
        width: 40%

      #{$block}_role_djs-list &
        width: 30%

      #{$block}_role_pr-list &
        width: 30%

      #{$block}_role_wages &
        width: 16%

      #{$block}_role_wages-admin &
        width: 10%

      #{$block}_role_deposits &
        width: 15%

      #{$block}_role_pdq-summary &
        width: 15%

      #{$block}_role_cash-report &
        width: 16%

      #{$block}_role_cash-report-comparison &
        width: 14%

      #{$block}_role_deposit-reports-all-sites &
        width: 28%

      #{$block}_role_deposit-reports-all-sites-group &
        width: 28%

      #{$block}_role_deposit-reports-all-sites-group #{$block}__row:not(:last-child) &
        border-bottom: none

      #{$block}_role_deposit-reports-current-site &
        width: 26%

      #{$block}_role_deposit-reports-current-site #{$block}__row:not(:last-child) &
        border-bottom: none

      #{$block}_role_summary-till-category &
        width: calc(100% - 140px)

      #{$block}_role_summary-extra-income &
        width: calc(100% - 70px)

      #{$block}_role_summary-group-totals &
        width: calc(100% - 140px)

      #{$block}_role_summary-cards &
        flex-grow: 0
        flex-shrink: 1
        width: calc(100% - 140px)

      #{$block}_role_summary-security-djs-pr &
        flex-grow: 0
        flex-shrink: 0
        justify-content: center
        width: 30px
        text-align: center

      #{$block}_role_summary-redeemed-deposits &
        flex-grow: 0
        flex-shrink: 0
        justify-content: center
        width: 30px
        text-align: center

      #{$block}_role_summary-payouts &
        width: calc(100% - 120px)

      #{$block}_role_summary-totals &
        width: calc(100% - 70px)

      #{$block}_role_summary-daily-report &
        width: calc(100% - 130px)

      #{$block}_role_summary-week-report &
        width: calc(100% - 130px)

      #{$block}_role_summary-take &
        width: calc(100% - 70px)

      #{$block}_role_summary-returned-wages &
        width: calc(100% - 130px)

      #{$block}_role_summary-cool-it &
        width: calc(100% - 70px)

      @media screen and (max-width: 1600px)
        #{$block}_role_pdq-summary &
          width: 20%

    // $Table cell second column
    &:nth-child(2)
      #{$block}_role_configuration &
        width: 38%
        padding-bottom: 5px

      #{$block}_role_card-till-comparison &
        flex-grow: 0
        flex-shrink: 0
        width: 165px
        padding-left: 5px

      #{$block}_role_payouts-today &,
      #{$block}_role_payouts-regular &,
      #{$block}_role_extra-income-today &,
      #{$block}_role_extra-income-regular &
        width: 40%

      #{$block}_role_security-djs-pr &
        width: 10%

      #{$block}_role_security-list &
        width: 40%

      #{$block}_role_djs-list &
        width: 15%

      #{$block}_role_pr-list &
        width: 25%

      #{$block}_role_wages &
        width: 12%

      #{$block}_role_wages-admin &
        width: 7%

      #{$block}_role_deposits &
        width: 20%

      #{$block}_role_pdq-summary &
        width: 15%

      #{$block}_role_cash-report &
        width: 14%

      #{$block}_role_cash-report-comparison &
        width: 14%

      #{$block}_role_deposit-reports-all-sites &
        width: 18%

      #{$block}_role_deposit-reports-all-sites-group &
        width: 18%

      #{$block}_role_deposit-reports-current-site &
        width: 18%

      #{$block}_role_summary-till-category &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      #{$block}_role_summary-extra-income &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      #{$block}_role_summary-group-totals &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      #{$block}_role_summary-cards &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      #{$block}_role_summary-security-djs-pr &
        width: calc(100% - 310px)

      #{$block}_role_summary-redeemed-deposits &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      #{$block}_role_summary-payouts &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      #{$block}_role_summary-totals &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      #{$block}_role_summary-daily-report &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      #{$block}_role_summary-week-report &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      #{$block}_role_summary-take &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      #{$block}_role_summary-returned-wages &
        flex-grow: 0
        flex-shrink: 0
        width: 80px

      #{$block}_role_summary-cool-it &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      @media screen and (max-width: 1600px)
        #{$block}_role_pdq-summary &
          width: 20%

        #{$block}_role_wages-admin &
          width: 9%

    // $Table cell third column
    &:nth-child(3)
      #{$block}_role_configuration &
        width: 40%
        padding-bottom: 5px

      #{$block}_role_payouts-today &,
      #{$block}_role_payouts-regular &,
      #{$block}_role_extra-income-today &,
      #{$block}_role_extra-income-regular &,
      #{$block}_role_security-list &
        flex-grow: 0
        flex-shrink: 0
        width: 235px

      #{$block}_role_security-djs-pr &
        width: 8%

      #{$block}_role_djs-list &
        width: 15%

      #{$block}_role_pr-list &
        width: 25%

      #{$block}_role_wages &
        width: 16%

      #{$block}_role_wages-admin &
        width: 9%

      #{$block}_role_deposits &
        width: 20%

      #{$block}_role_pdq-summary &
        width: 15%

      #{$block}_role_cash-report &
        width: 14%

      #{$block}_role_deposit-reports-all-sites &
        width: 18%

      #{$block}_role_deposit-reports-all-sites-group &
        width: 18%

      #{$block}_role_deposit-reports-current-site &
        width: 14%

      #{$block}_role_summary-till-category &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      #{$block}_role_summary-group-totals &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      #{$block}_role_summary-cards &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      #{$block}_role_summary-security-djs-pr &
        flex-grow: 0
        flex-shrink: 0
        width: 90px

      #{$block}_role_summary-redeemed-deposits &
        width: calc(100% - 200px)

      #{$block}_role_summary-payouts &
        flex-grow: 0
        flex-shrink: 0
        justify-content: center
        width: 50px
        text-align: center

      #{$block}_role_summary-daily-report &
        flex-grow: 0
        flex-shrink: 0
        width: 60px
        padding-left: 10px

      #{$block}_role_summary-week-report &
        flex-grow: 0
        flex-shrink: 0
        width: 60px

      #{$block}_role_summary-returned-wages &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      @media screen and (max-width: 1600px)
        #{$block}_role_pdq-summary &
          width: 20%

    // $Table cell fourth column
    &:nth-child(4)
      #{$block}_role_configuration &
        flex-grow: 0
        flex-shrink: 0
        width: 205px

      #{$block}_role_security-djs-pr &
        width: 9.5%

      #{$block}_role_djs-list &
        width: 20%

      #{$block}_role_pr-list &
        flex-grow: 0
        flex-shrink: 0
        width: 235px

      #{$block}_role_wages &
        width: 16%

      #{$block}_role_wages-admin &
        width: 9%

      #{$block}_role_deposits &
        width: 25%

      #{$block}_role_pdq-summary &
        width: 55%

      #{$block}_role_cash-report &
        width: 14%

      #{$block}_role_deposit-reports-all-sites &
        width: 18%

      #{$block}_role_deposit-reports-all-sites-group &
        width: 18%

      #{$block}_role_deposit-reports-current-site &
        width: 14%

      #{$block}_role_summary-security-djs-pr &
        flex-grow: 0
        flex-shrink: 0
        width: 50px

      #{$block}_role_summary-redeemed-deposits &
        flex-grow: 0
        flex-shrink: 0
        justify-content: center
        width: 30px
        text-align: center

      @media screen and (max-width: 1600px)
        #{$block}_role_pdq-summary &
          width: 40%

        #{$block}_role_wages-admin &
          width: 10%

    // $Table cell fifth column
    &:nth-child(5)
      #{$block}_role_security-djs-pr &
        width: 9.5%

      #{$block}_role_djs-list &
        flex-grow: 0
        flex-shrink: 0
        width: 235px

      #{$block}_role_wages &
        width: 10%
        justify-content: center

      #{$block}_role_wages-admin &
        width: 7%
        min-width: 75px
        justify-content: center

      #{$block}_role_deposits &
        width: 20%

      #{$block}_role_cash-report &
        width: 14%

      #{$block}_role_deposit-reports-all-sites &
        width: 18%

      #{$block}_role_deposit-reports-all-sites-group &
        width: 18%

      #{$block}_role_deposit-reports-current-site &
        width: 14%

      #{$block}_role_summary-security-djs-pr &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      #{$block}_role_summary-redeemed-deposits &
        flex-grow: 0
        flex-shrink: 0
        justify-content: center
        width: 70px
        text-align: center

      @media screen and (max-width: 1600px)
        #{$block}_role_wages-admin &
          width: 8%

    // $Table cell sixth column
    &:nth-child(6)
      #{$block}_role_security-djs-pr &
        width: 8.5%

      #{$block}_role_wages &
        width: 11%
        justify-content: center

      #{$block}_role_wages-admin &
        width: 11%
        min-width: 75px
        justify-content: center

      #{$block}_role_cash-report &
        width: 14%

      #{$block}_role_deposit-reports-current-site &
        width: 14%

      #{$block}_role_summary-security-djs-pr &
        flex-grow: 0
        flex-shrink: 0
        width: 70px

      @media screen and (max-width: 1600px)
        #{$block}_role_wages &
          width: 10%

        #{$block}_role_wages-admin &
          width: 8%

    // $Table cell seventh column
    &:nth-child(7)
      #{$block}_role_security-djs-pr &
        width: 9%

      #{$block}_role_wages &
        flex-grow: 0
        flex-shrink: 0
        width: 235px

      #{$block}_role_wages-admin &
        width: 10%

      #{$block}_role_cash-report &
        width: 14%

      @media screen and (max-width: 1600px)
        #{$block}_role_wages &
          width: 225px

        #{$block}_role_wages-admin &
          width: 9%

    // $Table cell eighth column
    &:nth-child(8)
      #{$block}_role_security-djs-pr &
        width: 8.5%

      #{$block}_role_wages-admin &
        width: 7%
        min-width: 70px
        justify-content: center

      @media screen and (max-width: 1600px)
        #{$block}_role_wages-admin &
          width: 8%

    // $Table cell ninth column
    &:nth-child(9)
      #{$block}_role_security-djs-pr &
        justify-content: center
        width: 7%

      #{$block}_role_wages-admin &
        width: 10%

    // $Table cell tenth column
    &:nth-child(10)
      #{$block}_role_security-djs-pr &
        flex-grow: 0
        flex-shrink: 0
        width: 235px

      #{$block}_role_wages-admin &
        width: 10%

      @media screen and (max-width: 1600px)
        #{$block}_role_security-djs-pr &
          width: 225px

        #{$block}_role_wages-admin &
          width: 9%

    // $Table cell eleventh column
    &:nth-child(11)
      #{$block}_role_wages-admin &
        flex-grow: 0
        flex-shrink: 0
        width: 125px

      @media screen and (max-width: 1600px)
        #{$block}_role_wages-admin &
          width: 120px

    // $Table cell MOD: role title
    // $Table cell MOD: role header
    // $Table cell MOD: role footer
    &_role_title,
    &_role_header,
    &_role_footer
      font-size: 14px
      font-family: $f-sans
      font-weight: 600
      color: $c-gray-ultra-dark

      #{$block}_role_summary-till-category &,
      #{$block}_role_summary-extra-income &,
      #{$block}_role_summary-group-totals &,
      #{$block}_role_summary-cards &,
      #{$block}_role_summary-security-djs-pr &,
      #{$block}_role_summary-redeemed-deposits &,
      #{$block}_role_summary-payouts &,
      #{$block}_role_summary-totals &,
      #{$block}_role_summary-daily-report &,
      #{$block}_role_summary-week-report &,
      #{$block}_role_summary-take &,
      #{$block}_role_summary-returned-wages &,
      #{$block}_role_summary-cool-it &,
        font-size: 12px

      @media screen and (max-width: 1280px)
        #{$block}_role_wages-admin &
          font-size: 12px

    &_role_title
      &:nth-child(1)
        #{$block}_role_deposit-reports-all-sites-group &
          width: 100%
          font-size: 16px

    &_role_header
      border-top: 1px solid $c-gray-light

      #{$block}_role_summary-till-category &,
      #{$block}_role_summary-extra-income &,
      #{$block}_role_summary-group-totals &,
      #{$block}_role_summary-cards &,
      #{$block}_role_summary-security-djs-pr &,
      #{$block}_role_summary-redeemed-deposits &,
      #{$block}_role_summary-payouts &,
      #{$block}_role_summary-totals &,
      #{$block}_role_summary-daily-report &,
      #{$block}_role_summary-week-report &,
      #{$block}_role_summary-take &,
      #{$block}_role_summary-returned-wages &,
      #{$block}_role_summary-cool-it &
        border-top: none
        border-bottom: 1px solid $c-gray-medium

      #{$block}_role_configuration &
        justify-content: center
        text-align: center

      &:nth-child(2),
      &:nth-child(3)
        #{$block}_role_configuration &
          padding-top: 15px
          padding-bottom: 15px

      &:nth-child(5),
      &:nth-child(6)
        #{$block}_role_wages &,
        #{$block}_role_wages-admin &
          text-align: center

      &:nth-child(8)
        #{$block}_role_wages-admin &
          text-align: center

      &:nth-child(9)
        #{$block}_role_security-djs-pr &
          text-align: center

    &_role_footer
      &:nth-child(1)
        #{$block}_role_deposit-reports-current-site &
          border-right: none

    &_role_form
      border-right: none
      border-bottom: none

      &:first-child
        border-left: none

      &:last-child
        border-right: none

    @each $table-cell-highlight-name, $table-cell-highlight-value in $table-cell-highlights
      &_highlight_#{$table-cell-highlight-name}
        background-color: $table-cell-highlight-value !important


  // $Table info
  &__info
    flex-grow: 1
    flex-shrink: 1
    width: 100%

    #{$block}_role_configuration #{$block}__cell:nth-child(2) &,
    #{$block}_role_configuration #{$block}__cell:nth-child(3) &
      padding-right: 10px

    #{$block}_role_security-djs-pr #{$block}__cell:nth-child(9) &,
    #{$block}_role_wages #{$block}__cell:nth-child(5) &,
    #{$block}_role_wages #{$block}__cell:nth-child(6) &,
    #{$block}_role_wages-admin #{$block}__cell:nth-child(5) &,
    #{$block}_role_wages-admin #{$block}__cell:nth-child(6) &,
    #{$block}_role_wages-admin #{$block}__cell:nth-child(8) &
      text-align: center


  // $Table service
  &__service
    flex-grow: 0
    flex-shrink: 0


  // $Table field
  &__field
    display: block
    width: 100%

    &:not(:last-child)
      margin-bottom: 5px


  // $Table details
  &__details
    display: block
    width: 100%
    padding: 10px

    #{$block}_role_summary-redeemed-deposits &
      padding: 5px


  // $Table text
  &__text
    font-family: $f-sans
    font-size: 14px
    font-weight: 400
    color: $c-gray-ultra-dark

    #{$block}__cell_role_title &,
    #{$block}__cell_role_header &,
    #{$block}__cell_role_footer &,
    #{$block}_role_card-till-comparison #{$block}__cell:nth-child(2) &,
    #{$block}_role_pdq-summary #{$block}__cell:nth-child(4) &,
    #{$block}_role_cash-report-comparison &,
    #{$block}_role_tills-report #{$block}__group_role_header &,
    #{$block}_role_tills-report #{$block}__group_role_footer &,
    #{$block}_role_tills-report #{$block}__column:first-child &,
    #{$block}_role_tills-report #{$block}__column:last-child &
      font-weight: 600

    #{$block}_role_card-till-comparison #{$block}__cell:nth-child(2) &,
    #{$block}_role_pdq-summary #{$block}__cell:nth-child(4) &
      text-align: right

    #{$block}_role_summary-redeemed-deposits #{$block}__details &
      text-align: center

    #{$block}_role_summary-till-category &,
    #{$block}_role_summary-extra-income &,
    #{$block}_role_summary-group-totals &,
    #{$block}_role_summary-cards &,
    #{$block}_role_summary-security-djs-pr &,
    #{$block}_role_summary-redeemed-deposits &,
    #{$block}_role_summary-payouts &,
    #{$block}_role_summary-totals &,
    #{$block}_role_summary-daily-report &,
    #{$block}_role_summary-week-report &,
    #{$block}_role_summary-take &,
    #{$block}_role_summary-returned-wages &,
    #{$block}_role_summary-cool-it &
      font-size: 12px

    #{$block}_role_payouts-today > &:last-child,
    #{$block}_role_payouts-regular > &:last-child,
    #{$block}_role_extra-income-today > &:last-child,
    #{$block}_role_extra-income-regular > &:last-child,
    #{$block}_role_security-djs-pr > &:last-child,
    #{$block}_role_security-list > &:last-child,
    #{$block}_role_djs-list > &:last-child,
    #{$block}_role_pr-list > &:last-child,
    #{$block}_role_wages > &:last-child,
    #{$block}_role_wages-admin > &:last-child,
    #{$block}_role_deposits > &:last-child,
    #{$block}_role_deposit-reports-all-sites > &:last-child,
    #{$block}_role_deposit-reports-current-site > &:last-child,
    #{$block}_role_tills-report > &:last-child
      font-size: 16px
      color: $c-gray-dark

    #{$block}_role_wages-admin > &:only-child,
    #{$block}_role_deposits > &:only-child,
    #{$block}_role_deposit-reports-all-sites > &:only-child,
    #{$block}_role_deposit-reports-current-site > &:only-child,
    #{$block}_role_tills-report > &:only-child
      margin-top: 20px

    @media screen and (max-width: 1280px)
      #{$block}_role_wages-admin &
        font-size: 12px

    &:not(:last-child)
      margin-bottom: 5px

    &_adjust_wrap
      word-wrap: break-word
      hyphens: auto

    @each $table-text-color-name, $table-text-color-value in $table-text-colors
      &_color_#{$table-text-color-name}
        color: $table-text-color-value


  // $Table text light
  &__text-light
    font-weight: 300


  // $Table text bold
  &__text-bold
    font-weight: 600


  @each $table-text-color-name, $table-text-color-value in $table-text-colors
    &__text-#{$table-text-color-name}
      color: $table-text-color-value


  // $Table actions
  &__actions
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center

    #{$block}_role_wages-admin &
      flex-direction: column
      align-items: stretch

  // $Table action
  &__action

    #{$block}_role_configuration #{$block}__cell:nth-child(2) &,
    #{$block}_role_configuration #{$block}__cell:nth-child(3) &
      margin-bottom: 10px

    #{$block}_role_payouts-today #{$block}__cell:nth-child(3) &,
    #{$block}_role_payouts-regular #{$block}__cell:nth-child(3) &,
    #{$block}_role_extra-income-today #{$block}__cell:nth-child(3) &,
    #{$block}_role_extra-income-regular #{$block}__cell:nth-child(3) &,
    #{$block}_role_security-djs-pr #{$block}__cell:nth-child(9) &,
    #{$block}_role_security-list #{$block}__cell:nth-child(3) &,
    #{$block}_role_djs-list #{$block}__cell:nth-child(5) &,
    #{$block}_role_pr-list #{$block}__cell:nth-child(4) &,
    #{$block}_role_wages #{$block}__cell:nth-child(7) &,
    #{$block}_role_wages-admin #{$block}__cell:nth-child(11) &
      flex-grow: 1

    #{$block}_role_summary-group-totals &
      padding-left: 5px
      padding-right: 5px
      font-size: 12px

    &:not(:last-child)
      margin-right: 15px

      #{$block}_role_wages-admin &
        margin-right: 0
        margin-bottom: 10px

    &:only-child
      #{$block}_role_payouts-today #{$block}__cell:nth-child(3) &,
      #{$block}_role_payouts-regular #{$block}__cell:nth-child(3) &,
      #{$block}_role_extra-income-today #{$block}__cell:nth-child(3) &,
      #{$block}_role_extra-income-regular #{$block}__cell:nth-child(3) &,
      #{$block}_role_security-djs-pr #{$block}__cell:nth-child(9) &,
      #{$block}_role_security-list #{$block}__cell:nth-child(3) &,
      #{$block}_role_djs-list #{$block}__cell:nth-child(5) &,
      #{$block}_role_pr-list #{$block}__cell:nth-child(4) &,
      #{$block}_role_wages #{$block}__cell:nth-child(7) &
        width: 100%


  // $Table labels
  &__labels


  // $Table label
  &__label
    #{$block}_role_configuration #{$block}__cell:nth-child(2) &,
    #{$block}_role_configuration #{$block}__cell:nth-child(3) &
      margin-bottom: 10px
